<div class="container">
    <div class="footer__row">
        <!-- Footer cta -->
        <div class="footer__col">
            <!-- Logo -->
            <a href="./" class="logo header__logo">
                <!-- <h2 class="logo__text">iSMART</h2> -->
                <img src="./assets/images/header/logo.png" alt="" class="logo__img" />
            </a>
            <p class="footer__desc">
                Toro Shop - Khám phá sự đa dạng và phong cách của giày. Hãy cùng chúng tôi tìm kiếm những đôi giày phản
                ánh phong cách và sự tự tin của bạn.
            </p>

            <p class="footer__help-text">
                Đăng ký email để nhận những ưu đãi đặc biệt và tin tức mới nhất từ chúng tôi
            </p>
            <form action="" class="footer__form">
                <input type="email" class="footer__input" placeholder="Nhập email của bạn..." />
                <button class="btn btn--primary footer__btn">GỬI</button>
            </form>
        </div>

        <!-- Footer Category -->
        <div class="footer__col">
            <h3 class="footer__heading">Sản phẩm</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Nike</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Adidas</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Dior</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Puma</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">MLB</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h3 class="footer__heading">Hỗ trợ</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Vị trí cửa hàng</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Tình trạng đơn hàng</a>
                </li>
            </ul>
        </div>

        <div class="footer__col">
            <h3 class="footer__heading">Về chúng tôi</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Dịch vụ khách hàng</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Điều khoản sử dụng</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Bảo mật</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Bài viết</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Cộng tác viên</a>
                </li>
            </ul>
        </div>

        <div class="footer__col">
            <h3 class="footer__heading">Liên hệ</h3>
            <ul class="footer__contact--list">
                <li class="footer__contact--item">
                    <h4 class="footer__contact--title">Email</h4>
                    <p class="footer__contact--desc">contact@toroshop.com</p>
                </li>
                <li class="footer__contact--item">
                    <h4 class="footer__contact--title">Hotline</h4>
                    <p class="footer__contact--desc">18008888</p>
                </li>
                <li class="footer__contact--item">
                    <h4 class="footer__contact--title">Địa chỉ</h4>
                    <p class="footer__contact--desc">170 Hoàng Diệu 2, Phường Linh Chiểu, Tp Thủ Đức, TP HCM</p>
                </li>
                <li class="footer__contact--item">
                    <h4 class="footer__contact--title">Giờ làm việc</h4>
                    <p class="footer__contact--desc">08:00am - 06:00pm hàng ngày</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025 Bản quyền thuộc về TORO Shop.</p>
        <div class="footer__socials">
            <a href="#!" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/images/icons/icon-facebook.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/images/icons/icon-youtube.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/images/icons/icon-tiktok.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/images/icons/icon-twitter.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/images/icons/icon-linkedin.svg" alt="" class="footer__social-icon" />
            </a>
        </div>
    </div>
</div>
